<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--全局配置属性-->
    <settings>
        <!--使用jdbc的getGeneratedKeys 获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用列别名替换列名
            select name as nm from table-->
        <setting name="useColumnLabel" value="true"/>
        <!-- 开启驼峰命名转换 table（user_name) -> entity(userName)-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--实体类别名-->
    <typeAliases>
        <package name="wl.seckill.entity"/>
    </typeAliases>
</configuration>